completions/asdf.fish
completions/fisher.fish
completions/flutter.fish
completions/merge.fish
completions/move.fish
completions/replay.fish
completions/spark.fish
completions/tag.fish
completions/tide.fish
conf.d/**
fish_variables
fishd.tmp.*
secrets.fish
themes/**


functions/**
!functions/kill-oco.fish
